@import '../../../theme/respond-mixin.scss';
@import '../../../theme/varibles.scss';

.gridProduct {
  overflow: hidden;
  background: transparent;
  width: 25%;
  padding: 8px;
  border: 1px solid transparent;
  transition: all ease-in 0.2s;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    width: 33.333333%;
    margin-bottom: 12px;
  }

  @media (max-width: 540px) {
    width: 50%;
    padding: 4px;
    margin-bottom: 8px;
  }

  &3 {
    width: 33.333333%;
    @media (max-width: 992px) {
      width: 50%;
      margin-bottom: 12px;
    }
  }

  &Silder {
    width: 100% !important;
    padding: 5px !important;
    margin-bottom: 0 !important;
    .wrapperLink {
      .addToCart {
        display: none !important;
      }
    }
    &:hover {
      border: 1px solid transparent !important;
    }
  }

  &:hover {
    border: 1px solid $mainColor;
  }

  @include respond-to(mobile) {
    &:hover {
      border: none;
    }
  }

  .wrapperLink {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    .addToCart {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      z-index: 2;
      opacity: 0;
      transform: translateY(-100%);
      transition: all ease-in 0.3s;
      background: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      img {
        width: 55px;
        height: 55px;
        cursor: pointer;
        overflow: 0.6;
      }
    }

    &:hover {
      .addToCart {
        opacity: 0.8;
        transform: translateY(0);
      }
    }
  }
}

.thumbnailWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;

  .saleTag {
    position: absolute;
    top: -10px;
    right: -10px;

    img {
      width: 45px;
      height: 45px;
      transform: rotate(-10deg);
    }
  }

  .thumbnailImg {
    position: relative;
    background: url(https://static.chotot.com/storage/default_images/c2c_ad_image.jpg) center center
      no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;

    @media (max-width: 768px) {
      height: 310px;
    }

    @media (max-width: 540px) {
      height: 260px;
    }

    &:after {
      display: block;
      padding-top: 100%;
      content: '';
      height: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .imageNum {
      position: absolute;
      top: 8px;
      left: 8px;
      background: url(https://static.chotot.com/storage/chotot-icons/svg/number-image.svg) no-repeat;
      width: 24px;
      height: 20px;
      font-weight: 700;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        position: absolute;
        top: 5px;
        right: 9px;
        font-size: 11px;
        line-height: 1.09;
      }
    }
  }
}

.footerWrapper {
  padding: 0;

  .title {
    color: rgb(36, 36, 36);
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    margin-top: 4px;

    img {
      width: 40px;
      height: 100%;
      margin-bottom: -15px;
      margin-right: 5px;
    }
  }

  .wrapperPrice {
    margin-top: 4px;

    .price {
      align-self: stretch;
      color: rgb(36, 36, 36);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .discount {
      display: inline-block;
      margin-left: 0;
      padding-left: 4px;
      color: #787878;
      font-weight: 300;
      font-size: 13px;
    }

    .priceSale {
      @extend .price;
      color: $mainColor !important;
      font-weight: bold;
      margin-right: 8px;
    }
  }
}
