.controlButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;

  &.left {
    right: 35px;
  }

  &.right {
    right: 0px;
  }

  img {
    width: 12px;
    height: 12px;
  }
}
