@import '../../theme/varibles.scss';

.wrapper {
  .wrapperScroll {
    overflow-x: auto;

    // @media (min-width: 992px) {
    //   /* Hide scrollbar for Chrome, Safari and Opera */
    //   &::-webkit-scrollbar {
    //     display: none;
    //   }
    //   // Hide scrollbar for IE and Edge
    //   -ms-overflow-style: none;
    //   // Hide scrollbar for FireFox
    //   scrollbar-width: none;
    //

    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
  }

  .wrapperImage {
    cursor: pointer;
    &Mobile {
      text-align: center;
      img {
        width: 250px;
      }
    }
    img {
      width: 100%;
    }
  }

  .images {
    margin: 10px 0;
    &Active img {
      border: 1px solid $mainColor !important;
    }

    img {
      cursor: pointer;
      border: 1px solid transparent;
      width: 80px;
      height: 100px;
      object-fit: cover;
      margin-right: 8px;
    }
  }
}
