.Wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.2s linear 0s, visibility;
  z-index: 1;
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.invisible {
    visibility: hidden;
    opacity: 0;
  }

  .scrollTop {
    background-color: rgba(0, 0, 0, 0.2) !important;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 150%;
    height: 36px;
    text-align: center;
    text-shadow: 0 1px 1px #555;
    width: 36px;
    z-index: 2;

    i {
      background: url('/arrow_top.png') center center no-repeat;
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }
  }
}
