.wrapperFilter {
  position: relative;

  .wrapper {
    background: white;
    padding: 8px 5px;
    min-height: 50px;
    border-radius: 4px;
    margin-bottom: 12px;

    &:first-child {
      margin-top: 10px;
    }
  }

  .wrapperButton {
    display: flex;
    justify-content: space-between;

    .buttonApply {
      padding: 8px 16px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  .rangerWrapper {
    .priceFromTo {
      margin-top: 10px;
    }

    .Range {
      padding: 8px;
    }
  }

  .ads {}
}
