@import '../../theme/varibles.scss';

.wrapper {
  .title {
    text-transform: uppercase;
    font-weight: 400;
  }
  .info {
    .detail {
      width: 100%;
      padding: 11px 0px 11px 0px;
      color: #444444;
      &:not(:last-child) {
        border-bottom: dashed #cccccc 1px;
      }

      .label {
        width: 30%;
        position: relative;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        color: #333333;
        padding-top: 5px;
        display: inline-block;
        &:after {
          position: absolute;
          content: ':';
          right: 10px;
          top: 4px;
        }
      }

      .value {
        font-size: 14px;
        line-height: 21px;
        color: $mainColor;
        font-weight: normal;
        padding-top: 5px;
        display: inline-block;
      }

      .inputQty {
        border-radius: 0px;
        width: 60px;
        height: 30px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid transparent;
        outline: none;
        box-shadow: none;
        &:focus {
          border: 1px solid $mainColor;
        }
      }
    }
  }
}
