@import '../../theme/varibles.scss';

.myCart {
  .titlePage {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 16px 0;
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      text-transform: none;
      margin-left: 8px;
      font-weight: normal;
    }
  }

  .shoppingCart {
    display: block;

    &Item {
      background-color: #fff;
      position: relative;
      padding: 12px;
      margin: 0;
      margin-bottom: 1px;
      display: block;

      .description {
        display: flex;
        // max-width: 85%;
        align-items: flex-start;
        justify-content: flex-start;

        .thumbnail {
          display: block;
          width: 145px;
          position: relative;
          background: url(https://static.chotot.com/storage/default_images/c2c_ad_image.jpg) center center no-repeat;
          background-size: cover;
          border-radius: 3px;
          overflow: hidden;
          margin-right: 20px;

          @media (max-width: 768px) {
            margin-right: 12px;
          }

          &:after {
            display: block;
            padding-top: 100%;
            content: '';
            height: 100%;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 768px) {
              width: 145px;
            }
          }
        }

        .main {
          display: block;

          .title {
            color: rgb(36, 36, 36);
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            display: -webkit-box;
          }

          .imageTag {
            display: inline-block;

            .saleTag {
              display: inline-block;
              margin-right: 12px;

              img {
                width: 45px;
                height: 45px;
                transform: rotate(15deg);
              }
            }

            .freeShpping {
              display: inline-block;

              img {
                width: 40px;
                height: 100%;
              }
            }
          }

          .wrapperPrice {
            margin-top: 4px;
            display: flex;
            align-items: center;

            .price {
              color: rgb(36, 36, 36);
              font-size: 16px;
              font-weight: 500;
              line-height: 1.6;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }

            .discount {
              display: inline-block;
              margin-left: 0;
              padding-left: 4px;
              color: #787878;
              font-weight: 300;
              font-size: 13px;
            }

            .priceSale {
              @extend .price;
              color: $mainColor !important;
              font-weight: bold;
              margin-right: 8px;
            }
          }
        }
      }

      .wrapperQty {
        display: table;
        border-collapse: separate;
        width: 70px;
        position: absolute;
        right: 20px;
        top: 20px;

        @media (max-width: 540px) {
          right: 50px;
          bottom: 10px;
          top: auto;
        }

        .inputGroup {
          position: relative;
          white-space: nowrap;
          vertical-align: middle;
          display: table-cell;
          width: 1%;
        }

        input {
          padding-right: 5px;
          padding-left: 5px;
          text-align: center;
          width: 50px;
          height: 28px;
          border-radius: 0;
          padding: 6px 12px;
          background-color: #fff;
          border: 1px solid #ccc;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        button {
          line-height: 20px;
          padding: 3px 9px;
          margin: 0;
          width: 28px;
        }

        .buttonDecrease {
          border-radius: 3px 0 0 3px;
          border-right: 0;
        }

        .buttonIncrease {
          border-radius: 0 3px 3px 0;
          border-left: 0;
        }
      }

      .wrapperDelete {
        cursor: pointer;
        position: absolute;
        right: 15px;
        bottom: 20px;

        &:focus {
          outline: none;
        }

        @media (max-width: 540px) {
          bottom: 8px;
        }
      }
    }
  }

  .wrapper {
    &Fee {
      background-color: #fff;
      padding: 18px 10px;
      margin-top: 1px;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &Text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .amount {
          color: $mainColor;
          font-size: 18px;
          font-weight: 400;
        }

        &Discount {
          color: red;
        }
      }
    }

    &Discount {
      background-color: #fff;
      padding: 18px 10px;
      margin-top: 12px;

      p {
        font-weight: bold;
      }

      form {
        margin-top: 10px;

        input,
        button {
          height: 30px;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        input {
          padding: 5px;
          width: 68%;

          &:focus {
            border: 1px solid $mainColor;
          }
        }

        button {
          margin-left: 2px;
          border-radius: 2px;
          padding: 0;
          width: 30%;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }

    .buttonPayment {
      width: 100%;
      padding: 10px 20px;
      margin-top: 8px;
    }
  }
}