.caret {
  display: inline-block;
  width: 12px;
  height: 16px;
  background-image: url('https://static.chotot.com/storage/chotot-icons/svg/dynamic-dropdown.svg');
  background-size: 12px 16px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -18px;
}
