@import '../../theme/varibles.scss';

.wrapper {
  position: relative;

  &::after {
    bottom: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    content: '';
    z-index: 1;
    height: 1px;
    background: #cccccc;
  }

  .infoAds {
    display: inline-flex;

    .elementInfo {
      padding: 8px 20px;
      font-size: 16px;
      color: #9b9b9b;
      cursor: pointer;
      text-decoration: none;
      position: relative;

      .value {
        font-weight: bold;
      }

      &:hover {
        &::after {
          bottom: 0;
          left: 0;
          position: absolute;
          width: 100%;
          content: '';
          height: 3px;
          z-index: 2;
          background: $mainColor;
        }

        span {
          text-decoration: none;
        }
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    .elementInfoActive {
      color: #222222;
      font-weight: bold;
      text-decoration: none;

      @media screen and (max-width: 414px) {
        font-weight: bold;
      }

      &::after {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        content: '';
        z-index: 2;
        height: 3px;
        background: $mainColor;
      }
    }
  }
}

.main {
  display: block;
  padding: 10px 0;
  img {
    height: auto !important;
    width: 100% !important;
  }
}
