@import '../../theme/varibles.scss';

.common {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  background: white;
  margin: 10px 0;

  @media (max-width: 540px) {
    text-align: center;
  }

  &.warrning {
    border: 1px solid $mainColor;
  }

  &.error {
    border: 1px solid $errorColor;
    color: $errorColor;
  }
}

.button {
  margin-left: 12px;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px 12px;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;
    color: white;
  }
}
