.registerMail {
  display: flex;
  padding: 5px 0;
  background-color: rgb(247, 247, 247);
  margin-top: 12vh;

  @media (max-width: 540px) {
    img {
      display: none;
    }

  }

  .wrapperInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    form {
      height: 40px;
      width: 40%;
      display: inline-block;

      @media (max-width: 540px) {
        width: 60%;
      }
    }

    button {
      padding: 10px 20px;
      height: 40px;
      margin-left: 10px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  img {
    width: 163px;
    float: left;
    margin-top: -30px;
  }
}