.snackBar {
  position: fixed;
  top: 30px;
  right: 10px;
  width: max-content;
  z-index: 99999999999;
  background: #ffba00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 20px 25px;
  font-size: 15px;
  font-weight: bold;

  img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.9;
    cursor: pointer;
  }
}
