$desktop-width: 768px;
$mobile-width: $desktop-width - 1;

@mixin respond-to($media) {
  @if $media == desktop {
    @media only screen and (min-width: $desktop-width) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $mobile-width) {
      @content;
    }
  }
}
