.Cart {
  position: relative;
  margin-top: 4px;
  text-align: center;

  a,
  a:hover {
    text-decoration: none;
    color: #333;
  }

  img {
    width: 25px;
    height: 25px;
  }

  &Count {
    position: absolute;
    top: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    background: #ffba00;
    right: -10px;
  }
}
