@import '../../theme/varibles.scss';

.mainMenu {
  border-bottom: 1px solid black;
  padding: 0 12px;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $mainColor;

    li {
      padding-bottom: 5px;
    }
  }

  .devider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-size: 15px;
      line-height: 26px;
      text-transform: uppercase;
      color: #201e33;
      display: inline-block;
      position: relative;
      padding: 10px 18px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: $mainColor;
      }
    }
  }

  &Link {
    position: relative;
    cursor: pointer;

    &:hover {
      color: $mainColor;
    }
  }

  &Subcategory {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 185%;
    z-index: 10;
    display: block;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    span {
      // color: #333;
      line-height: 20px;
      font-size: 13px;
      height: 40px;
      padding: 10px 12px;
      display: block;
      outline: none;
      box-shadow: none;

      &:hover {
        color: $mainColor;
      }
    }
  }
}
