@import '../../theme/varibles.scss';

.topHeader {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  &HotLine {
    background: url('/top_phone.png') center left no-repeat;
    color: #9d9d9d;
    margin: 0 !important;
    padding-left: 18px;
  }

  &HeadMenu {
    li {
      font-size: 12px;
      color: #9d9d9d !important;
      text-decoration: none;
      display: inline-block;

      &:not(:last-child):after {
        content: ' / ';
        padding: 0px 10px;
        color: #000;
      }
    }
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
  align-items: center;

  &Logo {
    height: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 55px;
    color: $mainColor;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    user-select: none;
    position: relative;


    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: 5px;
      width: 20%;
      height: 3px;
      background: $mainColor;
      transition: all ease-in .5s;
    }


    &:after {
      left: 50%;
      transform: translate(-100%, -50%);
    }

    &:before {
      right: 50%;
      transform: translate(100%, -50%);
    }

    &:hover {
      &:before {
        right: 0;
        transform: translate(0, -50%);
      }

      &:after {
        left: 0;
        transform: translate(0, -50%);
      }
    }


  }

  &Action {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &Search {
    width: 20vw;
  }
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;

  &Item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 12px;
      width: 45px;
      height: 45px;
      padding: 8px;
      transition: all ease-in 0.2s;
      border-radius: 50%;
      border: 1px solid $mainColor;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
