@import '../../theme/varibles.scss';

.layoutFooter {
  background-color: rgb(255, 255, 255);
  padding: 40px 0px;
  border-top: 1px solid rgb(247, 247, 247);
  border-bottom: 1px solid rgb(247, 247, 247);

  @media (max-width: 540px) {
    padding: 20px 8px;
  }

  .wrapperFooter {
    display: flex;
    justify-content: space-between;

    @media (max-width: 540px) {
      flex-direction: column;
      justify-content: center;
    }


    .logo {
      width: 400px;
      float: left;
      position: relative;
      height: 316px;
      padding-right: 30px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .mainHeaderLogo {
      height: auto;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 55px;
      color: $mainColor;
      font-weight: bold;
      font-family: cursive;
      cursor: pointer;
      user-select: none;
      position: relative;
    }

    .footerMain {
      display: flex;
      flex-direction: column;

      @media (max-width: 540px) {
        margin-bottom: 40px;
      }

      a {
        text-transform: capitalize;
        color: #888888;

        &:hover {
          color: $mainColor;
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    h3 {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }

    .connectWithUs {
      a {
        &:not(:last-child) {
          margin-right: 8px;
        }

        img {
          width: 50px;
        }
      }
    }
  }
}

.copyright {
  text-align: center;
  color: #888888;
  font-size: 12px;
  line-height: 20px;

  span {
    color: $mainColor;
    margin-left: 5px;
  }
}