.wrapperOverflow {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    background: url(https://static.chotot.com/storage/chotot-icons/svg/next.svg) center center
      no-repeat;
    background-size: 100%;
    width: 28px;
    height: 28px;
    z-index: 2;
    cursor: pointer;
    display: none;
    transition: all ease-in-out 0.2s;
    outline: none;
    user-select: none;

    @media (max-width: 480px) {
      display: none !important;
    }

    &.iconPrev {
      transform: translate(0, -50%) rotate(180deg);
      left: -15px;
    }

    &.iconNext {
      right: -15px;
      transform: translate(0, -50%);
    }

    &.active {
      display: block;
    }
  }
}
