@import '../../theme/varibles.scss';

.debounceForm {
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
  border: 1px solid $body-bg;
  border-radius: 5px;
  background: white;

  input {
    width: calc(100% - 28px);
    height: 36px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-indent: 12px;
    border-radius: 5px;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
    padding: 0px;
    outline: none;
    border: none;

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      opacity: 1;
      color: $body-bg;
    }
  }

  &WrapperButton {
    right: 8px;
    top: 0px;
    position: absolute;
    width: 24px;
    height: 100%;
    z-index: 1;

    button {
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      width: 22px;
      float: right;
      height: 100%;
      box-shadow: none;
      border-width: none;
      border-style: none;
      border-color: none;
      border-image: none;
      border: none;
      outline: none;
      padding: 0px;
      margin-top: 2px;
    }
  }
}
