@import '../../theme/varibles.scss';

.saveProductWrapper {
  position: absolute;
  left: 12px;
  bottom: 6px;

  .btnSavedProduct {
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .btnSavedProductFull {
    @extend .btnSavedProduct;
    border: 1px solid $mainColor;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: $mainColor;
  }
}
