:global {
  @import './normalize.scss';
  @import './bootstrapGrid.scss';
  @import './bootstrapButton.scss';
  @import './slick.scss';
  @import './pam.scss';
  @import './range.scss';
  @import './photoswipe.scss';

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f4f4f4;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
  }

  @media (min-width: 992px) {
    .d-lg-block {
      display: block !important;
    }

    .d-lg-none {
      display: none !important;
    }
  }

  a:hover,
  a:focus,
  a {
    text-decoration: none;
    color: #333;
  }

  .d-none {
    display: none !important;
  }

  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-block {
    display: block !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .no-padding {
    padding: 0 !important;
  }

  .m-auto {
    margin: auto !important;
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 576px) {
  }

  @media (max-width: 992px) {
  }
}
