.pam-wranning {
  border: 1px solid #ffba00;
}

.pam-layout {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.layout {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .pam-layout {
    width: 750px;
    padding: 0 15px;
  }

  .layout {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .pam-layout {
    width: 1120px;
  }

  .layout {
    width: 1120px;
  }
}

@media (min-width: 1200px) {
  .pam-layout {
    width: 1120px;
  }

  .layout {
    width: 1120px;
  }
}

.btn-main {
  border: 1px solid #ffba00;
  background: white;
  color: #ffba00;

  &:hover {
    border: 1px solid #ffba00;
    background: #ffba00;
    color: white;
  }
}

.btn-secondary {
  border: 1px solid #ffba00;
  background: #ffba00;
  color: white;

  &:hover {
    border: 1px solid #ffba00;
    background: white;
    color: #ffba00;
  }
}

.btn-main,
.btn-secondary {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
